* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, #860d04, #0f0100);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 40px 0px;
}
header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 2));
    pointer-events: none;
    z-index: 1;
}
header .text-intro {
    font-style: italic;
}
/* Reusable styles for headings and text */
.text-title {
    font-size: 2rem;
    color: #ffbfaa;
}
.text-heading {
    font-size: 4rem;
    color: #ffdfd4;
}
.text-intro {
    color: #ffbfaa;
    font-size: 1.3rem;
    margin-bottom: 15px;
}
/* Reusable styles for links */
.text-link {
    color: #860d04;
    font-family: arial;
}
/* My Header Links */
.my-links-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.my-links-icons a{
    transition: top linear 0.3s;
    position: relative;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.my-links-icons a:hover{
    top: -10px;
}
.arrow-down {
    display: flex;
    position: absolute;
    bottom: 90px;
    animation: pulse 1.3s infinite ease-in-out;
    transform-origin: center;
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}
main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: black;
    padding-top: 50px;
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    padding: 40px 0px;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 20px;
}
.mockup {
    width: 100%;
    height: auto;
}
.legend {
    font-family: Arial;
    font-size: 0.9rem;
}
.buttons-card {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.buttons-card a {
    padding-right: 5px;
}
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #860d04;
    font-family: arial;
    padding: 3px 8px;
    background: #860d04;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #860d04;
    cursor: pointer;
}
.button:hover {
    .count-number {
        color: #fff;
    }
}
.button svg {
    fill: #fff;
    padding-right: 5px;
}
.count-number {
    color: #fff;
    font-family: arial;
    padding-left: 3px;
}
.card-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 400px;
}
.card-project p {
    display: flex;
    justify-content: center;
}
.card-project a{
    transition: transform linear 0.4s;
    position: relative;
    top: 0;
}
.card-project:hover{
    transform: scale(1.3);
    z-index: 3
}
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, #860d04, #0f0100);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 40px 0px;
}
.about-me::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 5));
    pointer-events: none;
    z-index: 2;
}
.card-about-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 5px;
}
.card-about-me h3 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.5rem;
}
.card-text-about-me {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: auto;
}
.card-text-about-me p {
    font-family: arial;
    font-size: 0.80rem;
    width: 100%;
}
.card-my-photo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;

}
.my-photo{
    width: 70%;
    max-height: 100%;
    border-radius: 5px;
    padding: 2px;
}
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    width: 100%;
    padding: 40px 0px;
}

@media (max-width: 500px) {
  .text-title {
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
  }
  .text-heading {
    font-size: 2.3rem;
    padding: 0 1rem 0 1rem;
  }
  .text-intro {
    font-size: 1.1rem;
    padding: 0 1rem 0 1rem;
  }
  .card-about-me {
    max-width: 88%;
  }
  .my-links-icons a:hover {
    top:0;
  }
  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    font-family: arial;
    padding: 3px 8px;
    background: #860d04;
    border-radius: 10px;
    border: 1px solid #860d04;
    cursor: default;
  }
  .card-project:hover {
    transform: scale(1);
    z-index: auto;
  }
}
@media (max-width: 768px) {
    .text-title {
        font-size: 1.5rem;
    }
    .text-heading {
        font-size: 3rem;
    }
}
