* {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(circle, #f84235, #860d04, #0f0100);
    background-size: cover;
    height: 100vh;
    width: 100%
}