<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALBUKERK: PYTHON BACKEND DEVELOPER</title>

    <!-- Google Fonts(ANTON)-->
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">    <!-- Import Style -->
    <!-- Import Style-->
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <header>
        <p class="my-hello">HI, I'M ANDESON ALBUQUERQUE</p>
        <h3>PYTHON</h3>
        <h2>BACKEND DEVELOPER</h2>
        <p class="my-little-intro">
            I'M 27 YEARS OLD, FOR 10 MONTHS SIMPLIFYING AND AUTOMATING TASKS WORKING AS A FREELANCER!
        </p>
        <p>
            Nothing brings me more satisfaction than applying my skills to eliminate the use of paper,
            thanks to the wonder of automation with Python.
        </p>
        <section class="my-links-icons">
            <a href="#">
                <svg></svg>
            </a>
            <a href="#">
                <svg></svg>
            </a>
            <a href="#">
                <svg></svg>
            </a>
        </section>
    </header>
    <main class="my-projects-cards">

    </main>
    <section class="about-me">
        <h2> About Me</h2>
    </section>
    <footer>
        <p>Made By Me</p>
    </footer>
</body>
</html>